#debug: true
server:
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30
    io-threads:  10
    worker-threads: 10
  undertow:
    accesslog:
      enabled: false
      pattern: common
      prefix: access_log.
      rotate: true
      suffix: log
    max-http-post-size: 0
  port: 8088


spring:
  main:
    allow-bean-definition-overriding: true
  redis:
    tokenexpire: 86400000
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 6000ms  # 连接超时时长（毫秒）
    #lettuce:
    jedis:
      pool:
        max-active: 20  # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1ms    # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 10      # 连接池中的最大空闲连接
        min-idle: 5       # 连接池中的最小空闲连接
        shutdown-timeout: 100
    lettuce:
      pool:
        max-active: 10  # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1ms    # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 5      # 连接池中的最大空闲连接
        min-idle: 2       # 连接池中的最小空闲连接
        shutdown-timeout: 100

logging:
#  config: classpath*:log4j2.xml
  #logback-spring.xml
  level:
    root: debug

